/* src/App.css */
.App {
  text-align: center;
}

.chart-container {
  width: 50%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin: 10px 0;
}

input {
  padding: 5px;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #4bc0c0;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #36a2eb;
}
